@media screen and (max-width: 430px) {
    body {
        max-width: 400px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
    body {
        max-width: 1100px;
    }
}

@media screen and (min-width: 1280px) {
    body {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #ff8c00;
}

#principal {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    border: 1px solid #ff0000;
    /* border-radius: 25%; */
}

header {
    height: 200px;
    background-image: url('../imagenes/banner.webp');
    background-size: cover;
    display: inherit;
    flex-basis: 100%;
}

nav {
    height: 50px;
    flex-basis: 100%;
}

nav {
    background-color: #ea5a0d;
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
}

nav ul {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    margin-top: auto;
}

nav li {
    display: inherit;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

}

nav li a:hover {
    background-color: darkgrey;
}

nav li a:active {
    color: white;
}

nav li a:focus {
    background-color: rgb(222, 28, 37);
    border: 5px solid #810a0e;
}
nav a {
    display: flex; /* Habilita el uso de flexbox dentro de los enlaces */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    color: white;
    text-decoration: none;
    height: 100%;
    display: inherit;
    width: 100%;
}

aside{
    width: 25%;
    background-color: khaki;
    border-left: 1px solid #ff0000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}


aside ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    align-content:flex-start;
}

aside li {
    display: inherit;
    text-align: center;
    vertical-align: middle;
    height: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

aside a {
    display: flex; /* Habilita el uso de flexbox dentro de los enlaces */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    color: white;
    text-decoration: none;
    height: 10px;
    display: inherit;
    width: 100%;
}

main {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    flex-basis: 100%;
    background-color:  #ea0d0d;
    height: 50px;
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;

    p{
        color:white;
        font-size: x-small;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }
}
#contenido{
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    h1{
        width: 100%;
        text-align: center;
        margin: 5px;
    }
    p{
        width: 100%;
        font-size: x-small;
        text-align: justify;
    }
    
}
.ancho200{
    padding: 5px;
    text-align: center;
    img{
        height: 200px;
    }
    flex-basis: 200px;
    width: 200px;
    cursor: pointer;
    border: 1px solid #c0c0c0;
    border-radius: 5%;
    margin: 5px;
}
.ancho100p{
    padding: 5px;
    text-align: center;
    img{
        height: 400px;
    }
    flex-basis: 100%;
    width: 100%;
    cursor: pointer;
    border: 1px solid #c0c0c0;
    border-radius: 5%;
    margin: 5px;
}

.tabla{
    border: 1px solid #c0c0c0;
    font-size: small;
    width: 100%;
    th{
        border:1px solid #c0c0c0;
    }
    td{
        border:1px solid #c0c0c0;
        text-align: justify;
        vertical-align: top;
    }
}